<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package 
		Name="DirectOutput" 
		Manufacturer="DirectOutput" 
		Version="!(bind.FileVersion.MainDofDll)" 
		UpgradeCode="75f5d8f8-a58b-4a2c-91db-eeef0a114582" >

		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

		<SummaryInformation Description="DirectOutput" />
    <MajorUpgrade AllowDowngrades="yes" IgnoreRemoveFailure="no" Schedule="afterInstallInitialize" />
		<MediaTemplate EmbedCab="yes" />

		<!-- At run time, show the dialog UI to select the destination folder -->
		<Property Id="WIXUI_INSTALLDIR" Value="DOFDIR" />
		<UIRef Id="WixUI_InstallDirCustom" />

		<!-- Custom license file for the dialog UI -->
		<WixVariable Id="WixUILicenseRtf" Value="res\DOFLicense.rtf" />

		<!-- Custom UI dialog bitmaps -->
		<WixVariable Id="WixUIBannerBmp" Value="res\Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="res\DialogSide.bmp" />

		<!-- Main (and only) Feature -->
		<Feature Id="Main" Title="DirectOutput">
			<File Id="MainDofDll" Name="$(DirectOutput.TargetFileName)" />
			<File Name="$(B2SServerPlugin.TargetFileName)" />
			<File Name="$(DirectOutput_PinballX_Plugin.TargetFileName)" />
			<File Name="$(DirectOutputComObject.TargetFileName)" />
			<File Name="$(DirectOutputComObjectRegister.TargetFileName)" />
			<File Name="$(DirectOutputConfigTester.TargetFileName)" />
			<File Name="$(GlobalConfigEditor.TargetFileName)" />
			<File Name="$(LedControlFileTester.TargetFileName)" />
			<File Name="$(ProPinballSlave.TargetFileName)" />
		</Feature>

		<UI Id="WixUI_InstallDirCustom">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="InstallDir" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="DiskCostDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3" />
			<Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="WixUI_InstallDir" Condition="NOT Installed" />
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
			<Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="2" Condition="NOT WIXUI_DONTVALIDATEPATH" />
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4" Condition="WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1" Condition="NOT Installed" />
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed AND PATCH" />

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

			<Property Id="ARPNOMODIFY" Value="1" />
		</UI>

	</Package>
</Wix>
